(
    axes: {
        "updown": Emulated(
            pos: Key(Up),
            neg: Key(Down)
        ),
        "leftright": Emulated(
            pos: Key(Right),
            neg: Key(Left)
        )
    },
    actions: {
        "take": [ [Key(T)] ],
        "give": [ [Key(G)] ]
    },
)